.container {
	max-width: 600px;

	width: 100%;
	background-color: rgb(199, 199, 199);
	margin: 40vh auto;
	border-radius: 20px;
	padding: 20px;
}
.calculator {
	background-color: rgb(168, 139, 139);
	display: flex;
	margin: 0 auto;
	max-width: 550px;
	padding: 15px 0 15px 0;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	flex-direction: column;
}
.ButtonСontainer {
	display: flex;
	margin-top: 20px;
}
.btnNumber {
	padding-top: 10px;
	border-radius: 10px;
	max-width: 200px;
	padding-bottom: 10px;
	text-align: center;
}
.operatorContainer {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	max-width: 50px;
}
.button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 4px;
	font-family: inherit;
	font-size: 25px;
	padding: 10px;
	width: 50px; /* Фиксированная ширина */
	height: 50px;
	cursor: pointer;
	border-radius: 10px;
	border: none;
	background-color: rgb(71, 52, 52);
	color: white;
	transition: opacity 0.3s ease, color 0.1s ease;
}
.button:hover {
	opacity: 0.7;
}
.button:active {
	color: rgb(156, 92, 18);
}

.inputText {
	padding: 10px;
	font-size: 25px;
	width: 80%;
	margin-top: 15px;
	border: 2px solid rgb(54, 31, 31);
	border-radius: 15px;
	background-color: rgb(194, 176, 176);
	color: rgb(36, 35, 35);
	font-weight: 800;
}
.inputText::placeholder {
	font-weight: 600;
}

.done {
	color: green;
}
